.logo{
    @include flexlayout;
    font-size: 70px;
    color: $color-primary;
    width: 110px;
    height: 110px;
    margin-right: 20px;
    border: 3px solid $color-primary;
    border-radius: 50%;
}

.main-name{
    font-family: $font-sahel;
    font-size: 50px;
    color: $color-secondary;
    @include textStyle;
}

.sub-name{
    font-family: $font-sahel;
    font-size: 18px;
    color: $color-secondary;
    text-align: center;
    @include textStyle;
}

.main-heading{
    font-family: $font-nastaliq ;
    font-size: 60px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 20px;
}

.sub-heading{
    font-family: $font-sahel ;
    font-size: 40px;
    font-weight: 300;
    color: $color-secondary;
    margin-bottom: 30px;
}

.main-btn{
    width: 170px;
    height: 45px;
    font-family: $font-sahel ;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    cursor: pointer;
    transition: all.4s;

    &:hover{
        background-color: $color-primary;
        color: $color-dark;
    }
}


.card{
    width: 33.3333%;
    height: 30vw;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay{
        left: 0;
    }

    &-overlay{
        @extend %fullSpace;
        @include flexlayout;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        color: $color-white;
        background-color: rgba($color-primary,0.6);
        z-index: 10;
        transition: left 0.5s;

        &-heading{
            @include textStyle;
            font-family: $font-nastaliq;
            font-size: 50px;
        }

        &-paragraph{
            @include textStyle;
            font-family: $font-sahel;
            font-size: 20px;
            margin-bottom: 30px;
        }

        &-btn{
            width: 150px;
            height: 40px;
            color: $color-primary;
            background-color: $color-white;
            font-family: $font-sahel;
            font-size: 18px;
            border: 1px solid $color-primary;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
        }
    }

    &-img{
        @extend %fullSpace;
        object-fit: cover;
        opacity: 0.5;
    }
}